* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lora", serif;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 737px;
  margin: 0 auto;
}
.wordp {
  font-family: inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgba(45, 45, 45, 1);
  text-align: center;
}
.header {
  padding-top: 58px;
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
    .navbar {
      display: flex;
      justify-content: space-between;
      gap: 26px;
      .serif {
        display: flex;
        gap: 16px;
        align-items: center;
        p {
          font-weight: 700;
          font-size: 18px;
          color: rgba(45, 45, 45, 1);
        }
      }
      .moon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-left: 2px solid rgba(233, 233, 233, 0.63);
        padding-left: 26px;
        gap: 20px;
      }
    }
  }
}

.search-section {
  .container {
    label {
      input {
        width: 100%;
        font-weight: 700;
        font-size: 20px;
        color: rgba(45, 45, 45, 1);
        padding: 19px 24px;
        margin-bottom: 43px;
        border-radius: 16px;
        background-color: rgba(244, 244, 244, 1);
        outline: none;
        border: none;
        &:focus {
          border: 1px solid rgba(164, 69, 237, 1);
          cursor: pointer;
        }
      }
    }
  }
}

.main {
  .container {
    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 39px;
      div {
        h2 {
          font-weight: 700;
          font-size: 64px;
          color: rgba(45, 45, 45, 1);
        }
        p {
          font-weight: 400;
          font-size: 24px;
          color: rgba(164, 69, 237, 1);
        }
      }
      img {
        width: 75px;
        height: 75px;
      }
    }

    .noun {
      font-family: lora, sans-serif;
      margin-bottom: 39px;
      .word {
        display: flex;
        align-items: center;
        margin-bottom: 38px;
        gap: 23px;
        .line {
          width: 100%;
          border-top: 1px solid rgba(233, 233, 233, 1);
        }
      }
      .meaning {
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 26px;
          color: rgba(117, 117, 117, 1);
          margin-bottom: 24px;
        }
        .container {
          ul {
            margin-bottom: 63px;
            li {
              padding: 0 25px;
              font-weight: 400;
              font-size: 18px;
              color: rgba(45, 45, 45, 1);
              margin-bottom: 13px;
              list-style-image: url("./../img/dot.png") no-repeat 5px 5px;
              list-style-position: inside;
            }
            .keyboard {
              list-style: none;
              color: rgba(117, 117, 117, 1);
              padding-left: 45px;
            }
          }
        }
      }
      .synonyms {
        p {
          font-weight: 400;
          font-size: 20px;
          color: rgba(117, 117, 117, 1);

          span {
            font-weight: 700;
            font-size: 20px;
            color: rgba(164, 69, 237, 1);
            padding-left: 24px;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.last {
  display: flex;
  gap: 21px;
  margin-bottom: 123px;
  P {
    font-weight: 400;
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
    text-decoration: underline;
  }
  .imglink{
    display: flex;

  a {
    font-weight: 400;
    font-size: 14px;
    color: rgba(45, 45, 45, 1);
  }
  img{
    padding-left: 8px;
  }}
}

@media (max-width: 713px) {
  .container {
    max-width: 327px;
    margin: 0 auto;
  }
  .wordp {
    font-size: 16px;
  }
  .header {
    padding-top: 24px;
    .container {
      margin-bottom: 24px;
      .navbar {
        gap: 16px;
        .serif {
          display: flex;
          gap: 16px;
          align-items: center;
          p {
            font-size: 16px;
          }
        }
        .moon {
          padding-left: 16px;
          gap: 12px;
        }
      }
    }
  }
  .search-section {
    .container {
      label {
        input {
          font-size: 16px;
          padding: 14px 24px;
          margin-bottom: 23px;
        }
      }
    }
  }
  .main {
    .container {
      &_item {
        margin-bottom: 31px;
        div {
          h2 {
            font-size: 32px;
          }
          p {
            font-size: 18px;
          }
        }
        img {
          width: 48px;
          height: 48px;
        }
      }

      .noun {
        font-family: lora, sans-serif;
        margin-bottom: 32px;
        .word {
          display: flex;
          align-items: center;
          margin-bottom: 31px;
          gap: 19px;
        }
        .meaning {
          p {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 16px;
          }
          .container {
            ul {
              margin-bottom: 24px;
              li {
                font-size: 15px;
              }
              .keyboard {
                list-style: none;
                color: rgba(117, 117, 117, 1);
                padding-left: 45px;
              }
            }
          }
        }
        .synonyms {
          p {
            font-size: 16px;
            span {
              font-size: 16px;
              padding-left: 26px;
            }
          }
        }
      }
    }
  }
  .last {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 63px;
    P {
      font-weight: 400;
      font-size: 14px;
      color: rgba(117, 117, 117, 1);
      text-decoration: underline;
    }
  }
}
